#system-banner {
    color: white;
    font-size: 20px;
    font-weight: bold;
    margin: 0;
    min-width: 100px;
    padding: 10px 0;
    position: absolute;
    right: 0;
    text-align: center;
    text-transform: uppercase;
    -webkit-text-fill-color: white; /* Will override color (regardless of order) */
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    top: 0;
    transform: translateX(30%) translateY(0%) rotate(45deg);
    transform-origin: top left;
    z-index: 9999;
}

#system-banner:before,
#system-banner:after {
    content: '';
    height: 100%;
    margin: 0 -1px;
    position: absolute;
    top: 0;
    width: 100%;
}

#system-banner:before {
    right: 100%;
}

#system-banner:after {
    left: 100%;
}

#system-banner.system-banner--prod:before,
#system-banner.system-banner--prod:after,
#system-banner.system-banner--prod {
    background-color: #b80b0b;
}

#system-banner.system-banner--dev:before,
#system-banner.system-banner--dev:after,
#system-banner.system-banner--dev {
    background-color: #00a808;
}

#system-banner.system-banner--stage:before,
#system-banner.system-banner--stage:after,
#system-banner.system-banner--stage {
    background-color: #ffff33;
}

#system-banner.system-banner--test:before,
#system-banner.system-banner--test:after,
#system-banner.system-banner--test {
    background-color: #a067cf;
}
