.system-banner {
  position: fixed;
  right: 0;
  top: 0;
  z-index: 9999;
}

.system-banner__banner {
  color: white;
  font-size: 20px;
  font-weight: bold;
  font-family: sans-serif;
  margin: 0;
  width: 100px;
  padding: 10px 0;
  pointer-events: none;
  text-align: center;
  text-transform: uppercase;
  -webkit-text-fill-color: white;
  /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  top: 0;
  -webkit-transform: translateX(30%) translateY(0%) rotate(45deg);
          transform: translateX(30%) translateY(0%) rotate(45deg);
  -webkit-transform-origin: top left;
          transform-origin: top left;
}

.system-banner__banner:before, .system-banner__banner:after {
  content: '';
  height: 100%;
  margin: 0 -1px;
  position: absolute;
  top: 0;
  width: 100%;
}

.system-banner__banner:before {
  right: 100%;
}

.system-banner__banner:after {
  left: 100%;
}

.system-banner--prod .system-banner__banner:before,
.system-banner--prod .system-banner__banner:after,
.system-banner--prod .system-banner__banner {
  background-color: #b80b0b;
}

.system-banner--dev .system-banner__banner:before,
.system-banner--dev .system-banner__banner:after,
.system-banner--dev .system-banner__banner {
  background-color: #00a808;
}

.system-banner--stage .system-banner__banner:before,
.system-banner--stage .system-banner__banner:after,
.system-banner--stage .system-banner__banner {
  background-color: #ffff33;
}

.system-banner--test .system-banner__banner:before,
.system-banner--test .system-banner__banner:after,
.system-banner--test .system-banner__banner {
  background-color: #a067cf;
}

